<style>
    p.customColour {
        color:var(--textA);
    }
    .customColour2 {
        color:var(--textB);
    }
</style>
<div id="mainContent" class="legalNotice">
    <h2 class="uiText_legalNoticeTitle">AVÍS LEGAL</h2>
    <h5 class="uiText_legalNoticeSubtitle">LLEI DELS SERVEIS DE LA SOCIETAT DE LA INFORMACIÓ (LSSI)</h5>
    <div class="nowrap-column">
        <div>
            <span class="uiText_legalNotice">
                <b>LINKYARD</b>, responsable del lloc web, en endavant RESPONSABLE, posa a disposició dels usuaris el present document, amb el qual pretén donar compliment a les obligacions disposades en la Llei 34/2002, d'11 de juliol, de Serveis de la Societat de la Informació i del Comerç Electrònic (LSSICE), així com informar a tots els usuaris del lloc web respecte a quines són les condicions d'ús. <br><br>
                Tota persona que accedeixi a aquest lloc web assumeix el paper d'usuari, comprometent-se a l'observança i compliment rigorós de les disposicions aquí disposades, així com a qualsevol altra disposició legal que fos d'aplicació. <br><br>
                <b>LINKYARD</b> es reserva el dret de modificar qualsevol tipus d'informació que pogués aparèixer al lloc web, sense que hi hagi obligació de preavisar o posar en coneixement dels usuaris aquestes obligacions, entenent-se com a suficient amb la publicació al lloc web de <b>LINKYARD</b>.
            </span>
    </div>
</div>
