<h1>Llista d'xxxxxxxxxxxxxx</h1>
{% if missatge is defined %}
	<p class="missatge">{{ missatge }}</p>
{% endif %}
<table border="1">
	<tr><th>xxxxxx</th><th>xxxxx</th><th>xxxx</th></tr>
	{% for xxx in xx %}
		<tr>
			<td>{{ editorialISBN['idEditorialIsbn'] }}</td>
			<td><strong><a href="./xxxxx/{{ xxx['xx'] }}">{{ xxx['xxxxx'] }}</a></strong></td>
			<td><strong><a href="./xxx/{{ xxx['xx'] }}">{{ xxx['xxxxxx'] }}</a></strong></td>
		</tr>
	{% endfor %}
</table>
<nav><ul><li><a href="xxxxxxxx/alta">xxxxx</a></li></ul></nav>