<h1>Llista d'un xxxxx</h1>
<section>
<article>
	<table border="1">
		<tr><td>xxxx:</td><td>{{ xxxx }}</td></tr>
		<tr><td>xx:</td><td>{{ xx }}</td></tr>
		<tr><td>xxx:</td><td>{{ xxx }}</td></tr>
		<tr><td>xxxxx:</td><td>{{ xxxxx }}</td></tr>
	</table>
	</article>
	<article>
	<form name="f1" method="POST">
		<table border="1">
			<tr><td>xxxxx:</td><td><input type="text" name="xxxx" value="{{ xxxx }}" readonly></td></tr>
			
	</form>
</article>
</section>
<nav><ul><li><a href="xxxxxxx/alta">Nou ISBN</a></li></ul></nav>
